
<div class="row">
    <h1>Educacion</h1>
    <div class="col-lg-1"></div>
    <div class="col-lg-11">
        
        <ul>
            <li><h1>Escuela Greneral Manuel Belgrano N° 165.</h1> - <h3>1993</h3> </li>
            <p>
                Escuela Primaria
            </p>
        </ul>
        <ul>
            <li>
                <h1>E.E.M.P.I N° 8092.</h1> - <h3>1998</h3>
            
            </li>
            <p>
                Colegio secundario. Perito Mercantil
            </p>
        </ul>
        <ul>
            <li><h1>Facultad de Odontología UNR</h1> - <h3>2002</h3> </li>
            <p>
                
            </p>
        </ul>
        <ul>
            <li>
                <h1>IMD</h1> - <h3>2005</h3>
            
            </li>
            <p>
                Tecnicatura  Superior Dental
            </p>
        </ul>
        <ul>
            <li><h1>Argentina Progrma</h1> - <h3>2022</h3> </li>
            <p>
                Yo Programo
            </p>
        </ul>
   
    </div>
</div>

