<div class="row">
    <h1>Experiencia laboral</h1>
    <div class="col-lg-1"></div>
    <div class="col-lg-11">
        
        <ul>
            <li><h1>Laboratorio Dental IMD</h1> - <h3>2004</h3> </li>
            <p>
                Pasantías laborales en el Instituto Dental.
            </p>
        </ul>
        <ul>
            <li>
                <h1>Laboratorio Dental SR</h1> - <h3>2022</h3>
            
            </li>
            <p>
                Trabajo en mi propio laboratorio dental. Protesis Removibles
                Protesis fijas- Ortopedia- Ortodoncia- Placas de Relajación 
                Porcelanas.
            </p>
        </ul>
    </div>
</div>

