
 <div class="row">
     <div class="col-xs-12 col-sm-2 col-md-2 col-lg-2">
         <img src="../../../assets/fotoPerfil.jpg"
     class="img-fluid" id="fotodeperfil">
</div>
<div class="col-xs-12 col-sm-2 col-md-2 col-lg-2">
    <p id="nombre">Rosillo Sabrina</p>
    <p>Full Stack Developer Jr</p>
</div>
<div class="col-xs-12 col-sm-8 col-md-8 col-lg-8">
    
<span>
    <h1>Acerca de mi</h1>
    <p>Hola, me llamo Sabrina Rosillo, nací en un pueblo que 
        se llama Carmen y a los 18 años me vine a Rosario
        a estudiar. Soy Técnica Dental y una fotógrafa aficionada. 
        Tengo 41 años y estoy descubrinedo un mundo nuevo con la 
        programación. 
    </p>

</span>
</div>
</div>